<% layout('layouts/boilerplate') %> 

<style>
    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .main-detail-container {
        display: flex;
    }
    .animal-img {
        width: 350px;
        height: 300px;
    }
    .main-detail-img {
        flex: 1;
    }
    .main-detail-text {
        flex: 3;
        margin-left: 40px;
        margin-top: 40px;
    }
    .btn-custom {
        color: #FF3232;
        border: 1px solid #FF3232;
    }
    .details-container {
        margin-top: 50px;
    }
    @media (max-width: 500px) {
        .main-detail-container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .main-detail-text {
            margin-left: 0;
        }
        .price-text {
            margin-left: 20%;
        }
        .resep-text {
            margin-left: 5%;
            font-size: 15px;
        }
        .btn-custom {
            margin-left: 30%;
        }
    }
</style>

<div class="container">
    <div class="main-detail-container">
        <div class="main-detail-img">
            <div class="carousel-wrapper">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    <% if(animal.images[0]) {%> 
                        <% animal.images.forEach((img, i) => {%>
                            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                <img src="<%= img.url %>" class="d-block w-100 animal-img" alt="...">
                            </div>
                        <% }) %>    
                    <% } %>     
                    </div>
                    <% if(animal.images.length > 1) {%> 
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    <% } %> 
                </div>
            </div>
        </div>
        <div class="main-detail-text">
            <h1><%= animal.nama %> / <%= animal.umur %></h1>
            <div class="d-flex price-text">
                <p><%= animal.kategori %></p>
                <p style="color: #A3A3A3; margin-left: 10px;"><%= animal.jenisKelamin %></p>
            </div>
            <p class="resep-text" style="color: #A3A3A3;">Lokasi: <%= animal.location %></p>
            <p class="resep-text" style="color: #A3A3A3;">Kontak: <%= animal.kontak %></p>
        </div>
    </div>
    <div class="details-container">
        <h3>Deskripsi</h3>
        <p style="font-weight: 300;"><%= animal.description %></p>
    </div>
</div>